/* .navbar {
  padding-right: 5rem;
} */
.festive{
 height: 10rem;
}
/* 
.footer-full{
  background: rgba(81, 56, 238, 0.4);
} */

.navbar-lists{
  padding-right: 3rem;
}

.footer-full {
  background: rgb(8 2 46 / 95%);
}